//Color
$volcano-blue: #007AFF;
$volcano-yellow: #FFA200;
$volcano-green: #12B756;
$volcano-light-gray: #E0E1E2;

$text-primary: #656565;
$text-secondary: lighten($text-primary,22%);
$text-darken: darken($text-primary,25%);
$text-lighten: lighten($text-primary,35%);


$volcano-success: #5ab855;
$volcano-info: #5BC0DE;
$volcano-warning: #F8B352;
$volcano-danger: #E6544F;



